.chartbox {
  width: 900px;
  height: 550px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: white;
}

.searchbox {
  width: 380px;
  height: 640px;
  background-color: white;
  border-radius: 20px;
}

.fontJeju {
  font-family: 'jejuGodic';
}

.fontBungee {
  font-family: 'Bungee-Regular';
}

.equipmentbox {
  width: 250px;
  height: 130px;
  border-radius: 20px;
  background-color: #d9d9d9;
}
