.navbar {
  width: 1440px;
  height: 100px;
  background-color: rgb(50, 53, 84);
}

.fontJeju {
  font-family: 'jejuGodic';
}

.fontBungee {
  font-family: 'Bungee-Regular';
}

.navmenu {
  width: 100px;
  color: white;
}
