.navbar {
  width: 1440px;
  height: 100px;
  /* background-color: #06092b; */
  background-color: #323554;
  /* box-shadow: 10px 5px 5px black; */
}

.fontJeju {
  font-family: 'jejuGodic';
}

.fontBungee {
  font-family: 'Bungee-Regular';
}

.navmenu {
  width: 100px;
  color: white;
}

.navmenu a:hover {
  color: #ffa850;
}

.activeLink {
  color: #ffa850;
  padding-bottom: 5px;
  border-bottom: #ffa850 solid 4px;
  font-size: x-large;
  font-family: 'jejuGodic';
}

.noactive {
  color: white;
  font-size: x-large;
  font-family: 'jejuGodic';
}

.inputbox {
  height: 24px;
  width: 138px;
  border-radius: 5px;
}
